.selectedItem {
  background-color: #121212;
  color: white;
  padding: 8px 0 8px 12px;
  margin: 0 4px 0 0;
  display: inline-flex;
  align-items: center;
  border-radius: 0;
}

.selectedItem button {
  border-left: 1px solid #ffffff;
  margin-left: 8px;
}
